doctype html
html
    head(lang="el")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{text.outflowReportTitle}
        if(print)
            style
                include ../../public/css/merchant/merchantOutflowReport.css
                include ../../public/bs/css/bootstrap.min.print-color.css
        else
            link(rel="stylesheet", type="text/css", href="/bs/css/bootstrap.min.css")
            link(rel="stylesheet", type="text/css", href="/css/merchant/merchantOutflowReport.css")
    body
        if(!print)
            .row.text-center
                .col-xs-12
                    button.btn.btn-success(type="button", onclick = "window.location.assign(window.location.href+'&print=true')")
                        span.glyphicon.glyphicon-save #{text.saveReport}
                    button.btn.btn-danger(type="button", onclick="window.close()")
                        span.glyphicon.glyphicon-remove #{text.cancel}
        .row
            .col-xs-12
                i
                    p #{text.merchant}: #{results.merchant_name}<span class="created-at"> #{text.createdAt}: #{results.request_date} </span>
        each outflow in results
            .row
                .panel.panel-default
                    .panel-heading
                        h1.panel-title.text-center #{text.outflowDetailsHeader} <span> #{outflow.outflow_id} </span>
                    .panel-body
                        .col-xs-7.col-md-6
                            .row
                                label.col-xs-5(for="notes") #{text.notes}:
                                p#notes.col-xs-7 #{outflow.notes}
                            .row
                                label.col-xs-5(for="invoice_no") #{text.invoice_no}:
                                p#invoice_no.col-xs-7 #{outflow.invoice_no}
                            .row
                                label.col-xs-5(for="outflow_date") #{text.outflow_date}:
                                p#outflow_date.col-xs-7 #{outflow.outflow_date}
                        .col-xs-5.col-md-6
                            if(outflow.tank_id !== null)
                                .row
                                    label.col-xs-5(for="tank") #{text.tank}:
                                    p#tank.col-xs-7 #{outflow.Merchant_Tank.tank_no + (outflow.Merchant_Tank.description?' - '+outflow.Merchant_Tank.description:'')}
                            .row
                                label.col-xs-5(for="quantity") #{text.quantity}:
                                p#totalQuantity.col-xs-7 #{outflow.dataValues.quantity?outflow.dataValues.quantity.toFixed(2):0} kg
                            .row
                                label.col-xs-5(for="acidity") #{text.acidity}:
                                p#totalAcidity.col-xs-7 #{outflow.dataValues.acidity?outflow.dataValues.acidity.toFixed(2):0} %
                            .row
                                label.col-xs-5(for="sustainability") #{text.sustainability}:
                                p#totalSustainability.col-xs-7 #{outflow.dataValues.sustainability?outflow.dataValues.sustainability.toFixed(2):0} %
            .row
                .col-xs-12.col-md-12
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title #{text.outflowContentsHeader}
                        .panel-body
                            each oilpress in outflow.dataValues.contents
                                .panel.panel-default
                                    .panel-heading
                                        if(oilpress.name)
                                            h4.panel-title #{text.inflowFrom}: #{oilpress.name}
                                        else
                                            h4.panel-title #{text.producersInflows}
                                    .panel-body
                                        b #{text.totalQuantity}: <span class="oilpress-quantity"> #{oilpress.quantity.toFixed(2)} kg</span>
                                        hr
                                        if(oilpress.contents.length>0)
                                            .table-responsive
                                                table#producersTable.table.table-striped
                                                    thead
                                                        tr
                                                            th #{text.producer}
                                                            th #{text.land}
                                                            th #{text.quantity} kg
                                                    tbody
                                                        each producer in oilpress.contents
                                                            tr
                                                                td.producerName #{(producer.producer_name==='null null'|| producer.producer_name==='')?text.unknownProducer:producer.producer_name.replace('null', '')}
                                                                td.landOSDE #{producer.osde}
                                                                td.landQuantity #{producer.quantity?producer.quantity.toFixed(2):0} kg
                                        else
                                            p#noProducerDetails(type="warning") #{text.noProducerDetails}

