doctype html
html
    head(lang="el")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{text.inflowReportTitle}
        if(print)
            style
                include ../../public/css/oilcompany/oilcompanyInflowReport.css
                include ../../public/bs/css/bootstrap.min.print-color.css
        else
            link(rel="stylesheet", type="text/css", href="/bs/css/bootstrap.min.css")
            link(rel="stylesheet", type="text/css", href="/css/oilcompany/oilcompanyInflowReport.css")
    body
        if(!print)
            .row.text-center
                .col-xs-12
                    button.btn.btn-success(type="button", onclick = "window.location.assign(window.location.href+'&print=true')")
                        span.glyphicon.glyphicon-save #{text.saveReport}
                    button.btn.btn-danger(type="button", onclick= "window.close()")
                        span.glyphicon.glyphicon-remove #{text.cancel}
        .row
            .col-xs-12
                i
                    p #{text.oilcompany_user}: #{results.oilcompany_user_name}<span class="created-at"> #{text.createdAt}: #{results.request_date} </span>
        each inflow in results
            .row
                .panel.panel-default
                    .panel-heading
                        h1.panel-title.text-center #{text.inflowDetailsHeader} <span> #{inflow.inflow_id} </span>
                    .panel-body
                        .col-xs-7.col-md-6
                            .row
                                label.col-xs-5(for="name") #{text.name}:
                                p#name.col-xs-7 #{inflow.Merchant.name}
                            .row
                                label.col-xs-5(for="merchant_name") #{text.merchant_name}:
                                p#merchant_name.col-xs-7 #{inflow.Merchant.first_name} #{inflow.Merchant.last_name}
                            .row
                                label.col-xs-5(for="invoice_no") #{text.invoice_no}:
                                p#invoice_no.col-xs-7 #{inflow.invoice_no}
                            .row
                                label.col-xs-5(for="inflow_date") #{text.inflow_date}:
                                p#inflow_date.col-xs-7 #{inflow.inflow_date}
                            .row
                                label.col-xs-5(for="oilcompany_notes") #{text.oilcompany_notes}:
                                p#oilcompany_notes.col-xs-7 #{inflow.oilcompany_notes}
                        .col-xs-5.col-md-6
                            .row
                                label.col-xs-5(for="oilcompany_lot") #{text.oilcompany_lot}:
                                p#oilcompany_lot.col-xs-7 #{inflow.oilcompany_lot}
                            .row
                                label.col-xs-5(for="quantity") #{text.quantity}:
                                p#totalQuantity.col-xs-7 #{inflow.dataValues.quantity?inflow.dataValues.quantity.toFixed(2):0} kg
                            .row
                                label.col-xs-5(for="acidity") #{text.acidity}:
                                p#totalAcidity.col-xs-7 #{inflow.dataValues.acidity?inflow.dataValues.acidity.toFixed(2):0} %
                            .row
                                label.col-xs-5(for="sustainability") #{text.sustainability}:
                                p#totalSustainability.col-xs-7 #{inflow.dataValues.sustainability?inflow.dataValues.sustainability.toFixed(2):0} %
            .row
                .col-xs-12.col-md-12
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title #{text.inflowContentsHeader}
                        .panel-body
                            each oilpress in inflow.dataValues.contents
                                .panel.panel-default
                                    .panel-heading
                                        if(oilpress.name)
                                            h4.panel-title #{text.inflowFrom}: #{oilpress.name}
                                        else
                                            h4.panel-title #{text.producersInflows}
                                    .panel-body
                                        b #{text.totalQuantity}: <span class="oilpress-quantity"> #{oilpress.quantity.toFixed(2)} kg</span>
                                        hr
                                        if(oilpress.contents.length > 0)
                                            table#producersTable.table.table-striped
                                                thead
                                                    tr
                                                        th #{text.producer}
                                                        th #{text.land}
                                                        th #{text.producerSustainability}
                                                        th #{text.quantity} kg
                                                tbody
                                                    each producer in oilpress.contents
                                                        tr
                                                            td.producerName #{(producer.producer_name==='null null'|| producer.producer_name==='')?text.unknownProducer:producer.producer_name.replace('null', '')}
                                                            td.landOSDE #{producer.osde}
                                                            td.producerSustainability
                                                                .progress
                                                                    .progress-bar.progress-bar-success(role="progressbar" style="width: "+(producer.sustainability?producer.sustainability.toFixed(2):0) +"%")
                                                                        p.sustainabilityProgress #{producer.sustainability?producer.sustainability.toFixed(2):0}%
                                                            td.landQuantity #{producer.quantity?producer.quantity.toFixed(2):0} kg
                                        else
                                            p#noProducerDetails(type="warning") #{text.noProducerDetails}

